<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="part-text">
                <h2 class="title">
                    {{'dkhelapp' | translate}}
                </h2>
                <p> {{'telechargiapp' | translate}} </p>
            </div>
            <div class="row hover03">
                <div class="col-sm-12 col-md-6">
                    <a href="">
                        <figure><img  class="imgsize" src="../../../assets/btn_appstore_blue_min.svg" alt="" srcset=""></figure>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <a href="">
                        <figure><img  class="imgsize2" src="../../../assets/btn_googleplay_blue_min.svg" alt="" srcset=""></figure>
                     </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="part-img">
                <img src="../../../assets/scooterAppDownled.svg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>