<div class="container">
    <div class="row">
        <div class="col-12">
            <h2> {{'choisireVille' | translate}} </h2>
        </div>
    </div>
    <div class="row fourville">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="block3_city_container growUp" style="opacity: 1;">
                <a class="save-city">
                    <img class="block3_city_img miwith" style="width: 68%;border-radius: 15%;" src="../../../assets/kech.jpeg" alt="">
                    <h4 class="block3_city_text">Marrakech</h4>
                </a>				
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="block3_city_container growUp" style="opacity: 1;">
                <a class="save-city">
                    <img class="block3_city_img miwith" style="width: 68%;border-radius: 15%;" mdbTooltip="{{'bientotDsipo' | translate}}"  src="../../../assets/casa.jpeg" alt="">
                    <h4 class="block3_city_text">Casablanca</h4>
                </a>				
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="block3_city_container growUp" style="opacity: 1;">
                <a class="save-city">
                    <img class="block3_city_img" style="width: 80%;border-radius: 15%;" mdbTooltip="{{'bientotDsipo' | translate}}"  src="../../../assets/Tanger.jpg" alt="">
                    <h4 class="block3_city_text">Tanger</h4>
                </a>				
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="block3_city_container growUp" style="opacity: 1;">
                <a class="save-city">
                    <img class="block3_city_img" style="width: 80%;border-radius: 15%;" mdbTooltip="{{'bientotDsipo' | translate}}"  src="../../../assets/rabat.jpeg" alt="">
                    <h4 class="block3_city_text">Rabat</h4>
                </a>				
            </div>
        </div>
    </div>
</div>
