<div class="contentfoter">
<div class="container">
    <div class="row footerVilRS">
        <div class="col-sm-12 col-md-1 col-lg-1" style="text-align: center;"> 
            <img class="footer_logo_img" src="../../../assets/logomark.svg" style="width: 50%;" alt="Logo">    
        </div>
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 MrgnBtm">
            <a class="citys" href="">Marrakech</a>
        </div>
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 MrgnBtm">
            <a class="citys" href="">Casablanca</a>
        </div>
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 MrgnBtm">
            <a class="citys" href="">Tanger</a>
        </div>
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 MrgnBtm">
            <a class="citys" href="">Rabat</a>
        </div>
        <div class="col-12 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-2 col-lg-2 RSfoot"> 
            <a href="" target="_blank">
                <img class="footer_social_img" src="../../../assets/instagram_icon.svg" style="padding: 0px 15px;" alt="Instagram eloc">
            </a>
            <a href="" target="_blank">
                <img class="footer_social_img" src="../../../assets/youtube_icon.svg" style="padding: 0px 15px;" alt="Youtube eloc">
            </a>
            <a href="" target="_blank">
                <img class="footer_social_img" src="../../../assets/twitter_icon.svg" style="padding: 0px 15px;" alt="Twitter eloc">
            </a>
            <a href="" target="_blank">
                <img class="footer_social_img" src="../../../assets/facebook_icon.svg" style="padding: 0px 15px;" alt="Facebook eloc">
            </a>
        </div>
    </div>
</div>
</div>