<div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <p class="bestwayCss">
            <strong>
                {{ 'bestway' | translate}}
            <br>
                {{ 'mvin' | translate}}
            </strong>
        </p>
        <div class="content-img">            
            <ul class="listville">
                <li>Marrakech </li>
                <li>Casablanca </li>
                <li>Tanger </li>
                <li>Rabat </li>
            </ul>
        </div>
        <p class="styleParagraph"> {{'miliierscooter' | translate}} </p>
      </div>
      <div class="col-md-12 col-lg-6 imgprt">
        <div class="part-img">
          <img class="image-app" src="../../../assets/telephoneMap.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="row part3icon">
        <div class="col-md-12 col-lg-4">
          <p class="hoverni">
            <img src="../../../assets/icon_i_tickets_inline-1.svg" alt="">
            {{'offreAlusage' | translate}}
          </p>
        </div>
        <div class="col-md-12 col-lg-4">
          <p class="hoverni">
            <img src="../../../assets/icon_i_wind.svg" alt="">
            {{'pasEngagement' | translate}}
          </p>
        </div>
        <div class="col-md-12 col-lg-4">
          <p class="hoverni">
            <img src="../../../assets/icon_i_hourglass.svg" alt="">
            {{'paimentAlaMinute' | translate}}
          </p>
        </div>
    </div>
</div>