<div class="background-image container-fluid section-box">
    <div class="container">
            <div class="">
                <div class="overlay"></div>        
            </div>
            <div class="row ">
                <div class="col-md-5 text-col">
          <h1 class="text-white headhowitwork"> {{'Commcamarche' | translate}} </h1>
          <div class="content font-size-large text-white" style="text-align: justify;"> {{'subtitlecomcamarche' | translate}} </div>
          <div class="button-wrapper">
            <div class="hover03">
                <div class="row">
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                    </a>
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                    </a>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
</div>
<section class="sectionhowitwork" style="padding-top: 7%;padding-bottom: 5%;">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5" style="padding-top: 15%;">
                    <h2 class="mb-0"></h2><h2 class="mb-0"><span style="font-weight: 700;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Driving with GO Sharing is easy and fun&quot;}" data-sheets-userformat="{&quot;2&quot;:769,&quot;3&quot;:{&quot;1&quot;:0},&quot;11&quot;:4,&quot;12&quot;:0}">{{'drivingwitheloc' | translate}}&nbsp;<span class="text-primary">{{'easy' | translate}}</span></span></h2>
                        <div class="content" style="text-align: justify;">{{'describtion' | translate}}</div>
                        <div class="innerblocks-cont ">
                      <div class="innerblock inner-link alignfalse"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0 ">                 
                    <figure class="object-contain position-relative">
                        <img class="has-shadow" alt="" src="../../../assets/elocScooter.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>










<!--hereeeeeeeeeeeeeee--> 

<section class="o-content">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5">
                    <h2 class="mb-2"></h2><h2 class="mb-0">Découvrez nos nouveaux <span class="text-primary">top cases</span></h2>
                    <div class="content">Chez GO Sharing, nous aimons écouter ce que vous, les utilisateurs, avez à nous dire. C’est pourquoi, avec votre contribution, nous avons développé des nouveaux top cases. Ils sont plus faciles à utiliser, robustes, se ferment bien et ont de la place pour deux casques !</div>
                </div>
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0  d-flex justify-content-center flex-column">    
                    <div class="embed-container embed-video">
                        <figure class="object-contain m-0">
                            <div class="overlay video-opener" data-target="#videoModal" data-toggle="modal" data-src="https://www.youtube.com/embed/bQV8bC6xuW4">
                                <div class="play-button">
                                    <i class="i-play"></i>
                                </div>
                            </div>
                            <img data-target="#videoModal" alt="" class="rounded-corners has-shadow" src="../../../assets/eloocscooter.jpg">
                        </figure>   
                        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <!-- 16:9 aspect ratio -->
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src="https://www.youtube.com/embed/bQV8bC6xuW4" class="embed-responsive-item" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end hereeeeeeeeeeeeeee--> 








































<div id="" class="cards-vertical alignfalse is_fullwidth standaard" data-theme="is-secondary">
    <section class="o-cards-vertical">
      <div class="container-fluid section-box2">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-col">
              <div class="sticky-box" style="top: calc(50% - 99px);">
                    <h2>{{'Commcamarche' | translate}}</h2>
                    <div class="content" style="text-align: justify;">{{'decribtionhowitwoork' | translate}}</div>               
                    <div class="button-wrapper">
                        <div class="hover03">
                            <div class="row">
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                                </a>
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                                </a>
                            </div>
                         </div>
                    </div>
              </div>
            </div>
            <div class="col-md-7 has-vertical-cards">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 ">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepOnee.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'local' | translate}}</h5>
                                {{'locatedescibtion' | translate}}
                            </div>
                        </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 offset-md-6">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepTwoo.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'Start' | translate}}</h5>
                                {{'describtionstart' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 ">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepThreee.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'Dpe' | translate}}</h5>
                                {{'describtiondpe' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 offset-md-6">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepFourr.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'endride' | translate}}</h5>
                                {{'describtionend' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>


<section class="sectionhowitwork" style="padding-top: 1%;padding-bottom: 5%;">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0 ">                 
                    <figure class="object-contain position-relative">
                        <img class="has-shadow" alt="" src="../../../assets/pichwoitwork.jpg">
                    </figure>
                </div>
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5" style="padding-top: 6%;">
                    <h2 class="mb-0"></h2><h2 class="mb-0"><span style="font-weight: 700;" >45 km/h e-mopeds</span></h2>
                        <div class="content" style="padding-top: 2%; text-align: justify;">{{'speedrapid' | translate}}</div>
                        <div class="innerblocks-cont ">
                      <div class="innerblock inner-link alignfalse">
                        <a href="" target="">
                            <button class="btn btn-secondary custombtn" >
                                {{'Commcamarche' | translate}} ?
                            </button>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="o-tabs-and-cards">
    <div class="container-fluid section-box fourthpart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-col text-center">     
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>{{'whereRide' | translate}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="content textfourtpart">{{'zoneelocfree' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row icon-row">
                    <div class="col"></div>
                </div>
            <div class="row stylediualmerd">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 fromhere" style="text-align: -webkit-center;">
                    <div class="text-center" style="width: 292.5px; margin-right: 30px;margin-bottom: 4%;">
                        <figure>
                          <img alt="" src="../../../assets/pic1.png" class="customeimg has-shadow rounder-corners" style="height: 125px !important;">
                        </figure>
                        <span class="is-bold d-block headcustomstyle">{{'servicearea' | translate}}</span>
                          {{'garderscooter' | translate}}
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 fromhere" style="text-align: -webkit-center;">
                    <div class="text-center" style="width: 292.5px; margin-right: 30px;margin-bottom: 4%;">
                        <figure>
                          <img alt="" src="../../../assets/pic2.png" class="customeimg has-shadow rounder-corners" style="height: 125px !important;">
                        </figure>
                        <span class="is-bold d-block headcustomstyle">{{'paszone' | translate}}</span>
                        {{'zonestat' | translate}}
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 fromhere" style="text-align: -webkit-center;">
                    <div class="text-center" style="width: 292.5px; margin-right: 30px;margin-bottom: 4%;">
                        <figure>
                          <img alt="" src="../../../assets/pic3.png" class="customeimg has-shadow rounder-corners" style="height: 125px !important;">
                        </figure>
                        <span class="is-bold d-block headcustomstyle">{{'znservice' | translate}}</span>
                        {{'youcandrive' | translate}}
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 fromhere" style="text-align: -webkit-center;">
                    <div class="text-center" style="width: 292.5px; margin-right: 30px;margin-bottom: 4%;">
                        <figure>
                          <img alt="" src="../../../assets/pic4.png" class="customeimg has-shadow rounder-corners" style="height: 125px !important;">
                        </figure>
                        <span class="is-bold d-block headcustomstyle">{{'reduction' | translate}}</span>
                        {{'reductioontext' | translate}}
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

