.section-box{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 560px;
}

.background-image {
    background: url("../../../assets/bghowitwork.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    font-weight: 100;
    font-style: normal;
    overflow:hidden;
    position: relative;
}


.background-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .4)), to(transparent));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .4), transparent);
    background: -o-linear-gradient(left, rgba(0, 0, 0, .4) 0, transparent 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, .4), transparent);
}

.hover03 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

.imgsize , .imgsize2{
    margin-top: 6%;
    width: 80%;
  }

@media (max-width: 767px) {
    .imgsize , .imgsize2{
        margin-top: 0%;
        width: 30%;
      }
}

.sectionhowitwork{
    display: block;
}

h2{
    font-family: Urban Grotesk ReBo, sans-serif;
}

.content{
    font-family: Urban Grotesk MeBl, sans-serif;
}


/////////////////////////////// SECOND SECTION

.text-primary {
    color: #81bb27 !important;
}

figure.object-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

figure.object-contain img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 700px;
    border-radius: 20px;
}

.has-shadow{
    box-shadow: 0 11px 27px 7px hsla(0, 0%, 6%, .07)
}


/////////////////////////////// third SECTION

.standaard{
    font-family: Urban Grotesk MeBl, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75rem;
    -webkit-font-smoothing: antialiased;
}

.o-cards-vertical{
    display: block;
}

.section-box2 {
    background-color: #edceab;
    padding: 6% 0%;
}

.o-cards-vertical .section-box2 {
    overflow: visible !important;
}

.is_fullwidth .section-box2, div:not(.is_fullwidth) .section-box2, header:not(.is_fullwidth) .section-box2 {
    margin-top: -1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.sticky-box {
    position: sticky !important;
}

h2{
    font-size: 2.4rem !important;
    font-weight: 700;
    line-height: 1.25;
    font-family: Urban Grotesk ReBo, sans-serif;
}

.card .card-header figure.h-160 {
    height: 160px;
}

figure.object-cover {
    position: relative;
    height: 100%;
    margin-bottom: 0;
}
figure {
    margin: 0 0 1rem;
    display: block;
}

figure.object-cover img {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

figure.object-cover img .pic1{
    width: 75%;
}

.pic1{
    margin-left: 24% !important;
}

@media (max-width: 767px){
    .pic1{
        margin-left: 30% !important;
    }
}

@media (min-width: 768px) {
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.card {
    position: relative;
    border: none;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 11px 27px 7px hsla(0, 0%, 6%, .07);
    box-shadow: 0 11px 27px 7px hsla(0, 0%, 6%, .07);
}

.headcardtitle{
    font-weight: 700 !important;
}

@media (max-width: 992px){
    .offset-md-6 {
        margin-left: 0% !important;
    }
    .card{
        margin-bottom: 6%;
    }
}

@media (max-width: 767px){
    figure{
        text-align: center;
        margin-top: 2%;
    }
    .headhowitwork{
        margin-top: 30%;
    }
}

.custombtn{
    color: #fff;
background-color: #c9520a !important;
border-color: #c9520a;
height: 3.375rem;
    padding: 2px 1.25rem 0;
    border-radius: 27px;
    -webkit-box-shadow: 0 8px 7px -5px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 7px -5px rgba(0, 0, 0, .2);
    font-family: Urban Grotesk LiSe, sans-serif;
    font-weight: 700;
    margin-top: 3%;
}

///////////// fourth part

.o-tabs-and-cards{
    display: block;
}

.fourthpart{
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.textfourtpart{
    font-family: Urban Grotesk MeBl, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75rem;
    -webkit-font-smoothing: antialiased;
}

.o-tabs-and-cards .icon-row {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

///////////////////////////////////////////////////////////////////////////////////////

.swiper-slide figure img{
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 3px hsla(0, 0%, 6%, .06);
    box-shadow: 0 2px 8px 3px hsla(0, 0%, 6%, .06);
}


.headcustomstyle{
    font-family: Urban Grotesk ReBo, sans-serif !important;
    font-weight: 700 !important;
}

@media (max-width: 1230px){
    .fromhere {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .stylediualmerd{
        width: 1000px !important;
        margin-left: 30px !important;
    }
    
}

@media (max-width: 11148px){
    .stylediualmerd{
        width: 897px !important;
        margin-left: -86px !important;
    }
    
}

@media (max-width: 778px) {
    .col-sm-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .stylediualmerd{
        width: 426px !important;
        margin-left: -15px !important;
    }
}

@media (min-width: 1230px){
    .stylediualmerd{
        width: 1220px !important;
        margin-left: -68px !important;
    }
}


/////////////////////////////////////////// section video
.embed-container figure .overlay {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
}

.embed-container figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.embed-container figure .overlay, .embed-container figure .overlay .play-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.embed-container figure .overlay .play-button {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .65);
}

.embed-container figure .overlay .play-button i {
    color: #81bb27 !important;
    font-size: 2rem !important;
}

.section-boxx {
    background-color: #fcf6ea;
}


.section-boxx {
    margin-top: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-radius: 20px;
    max-width: 1800px;
}
