<div class="background-image container-fluid section-box">
    <div class="container">
            <div class="">
                <div class="overlay"></div>        
            </div>
            <div class="row ">
                <div class="col-md-5 text-col">
          <h1 class="text-white headhowitwork"> {{'Commcamarche' | translate}} </h1>
          <div class="content font-size-large text-white" style="text-align: justify;"> {{'subtitlecomcamarche' | translate}} </div>
          <div class="button-wrapper">
            <div class="hover03">
                <div class="row">
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                    </a>
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                    </a>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
</div>
<section class="sectionhowitwork" style="padding-top: 7%;padding-bottom: 5%;">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5" style="padding-top: 15%;">
                    <h2 class="mb-0"></h2><h2 class="mb-0"><span style="font-weight: 700;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Driving with GO Sharing is easy and fun&quot;}" data-sheets-userformat="{&quot;2&quot;:769,&quot;3&quot;:{&quot;1&quot;:0},&quot;11&quot;:4,&quot;12&quot;:0}">{{'drivingwitheloc' | translate}}&nbsp;<span class="text-primary">{{'easy' | translate}}</span></span></h2>
                        <div class="content" style="text-align: justify;">{{'describtion' | translate}}</div>
                        <div class="innerblocks-cont ">
                      <div class="innerblock inner-link alignfalse"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0 ">                 
                    <figure class="object-contain position-relative">
                        <img class="has-shadow" alt="" src="../../../assets/elocScooter.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="" class="cards-vertical alignfalse is_fullwidth standaard" data-theme="is-secondary">
    <section class="o-cards-vertical">
      <div class="container-fluid section-box2">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-col">
              <div class="sticky-box" style="top: calc(50% - 99px);">
                    <h2>{{'Commcamarche' | translate}}</h2>
                    <div class="content" style="text-align: justify;">{{'decribtionhowitwoork' | translate}}</div>               
                    <div class="button-wrapper">
                        <div class="hover03">
                            <div class="row">
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                                </a>
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                                </a>
                            </div>
                         </div>
                    </div>
              </div>
            </div>
            <div class="col-md-7 has-vertical-cards">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 ">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepOnee.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'local' | translate}}</h5>
                                {{'locatedescibtion' | translate}}
                            </div>
                        </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 offset-md-6">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepTwoo.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'Start' | translate}}</h5>
                                {{'describtionstart' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 ">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepThreee.png" class="pic1">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'Dpe' | translate}}</h5>
                                {{'describtiondpe' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6 offset-md-6">
                        <div class="card">
                            <div class="card-header">
                                <figure class="object-cover h-160">
                                    <img alt="" src="../../../assets/stepFour.png">
                                </figure>
                            </div>
                            <div class="card-body" style="text-align: justify;">
                                <h5 class="mb-3 headcardtitle">{{'endride' | translate}}</h5>
                                {{'describtionend' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>


<section class="sectionhowitwork" style="padding-top: 1%;padding-bottom: 5%;">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0 ">                 
                    <figure class="object-contain position-relative">
                        <img class="has-shadow" alt="" src="../../../assets/pichwoitwork.jpg">
                    </figure>
                </div>
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5" style="padding-top: 6%;">
                    <h2 class="mb-0"></h2><h2 class="mb-0"><span style="font-weight: 700;" >45 km/h e-mopeds</span></h2>
                        <div class="content" style="padding-top: 2%; text-align: justify;">{{'speedrapid' | translate}}</div>
                        <div class="innerblocks-cont ">
                      <div class="innerblock inner-link alignfalse">
                        <a href="" target="">
                            <button class="btn btn-secondary custombtn" >
                                {{'Commcamarche' | translate}} ?
                            </button>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="o-tabs-and-cards">
    <div class="container-fluid section-box fourthpart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-col text-center">     
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>{{'whereRide' | translate}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="content textfourtpart">{{'zoneelocfree' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row icon-row">
                    <div class="col"></div>
                </div>
            <div id="actual-tabs-and-cards-0" class="row tabs-and-cards-pane tabs-and-cards-can-have-active is-active">
                <div class="col-12">
                    <div class="t-and-c-slider t-and-c-slider-0 swiper-container swiper-container-initialized swiper-container-horizontal">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);" id="swiper-wrapper-f58825396464f727" aria-live="polite">
                            <!-- Slides -->                   
                            <div class="swiper-slide text-center swiper-slide-active" style="width: 292.5px; margin-right: 30px;" role="group" aria-label="1 / 4">
                                <figure class="object-cover">
                                    <img alt="" src="https://nl.go-sharing.com/app/uploads/2021/01/servicegebied-01@2x-1.png" class="has-shadow rounder-corners">
                                </figure>
                                <span class="is-bold d-block">Service area</span>
                                You can park the e-moped anywhere within the service area’s. Make sure that you don’t cause any inconvenience to other road users.
                            </div>           
                            <div class="swiper-slide text-center swiper-slide-next" style="width: 292.5px; margin-right: 30px;" role="group" aria-label="2 / 4">
                                <figure class="object-cover">
                                    <img alt="" src="https://nl.go-sharing.com/app/uploads/2021/01/geen-parkeergebied-01@2x-1.png" class="has-shadow rounder-corners">
                                </figure>
                                <span class="is-bold d-block">No parking zone</span>
                                Areas where you aren’t allowed to park are indicated in the app with a red square. These are usually busy shopping streets.
                            </div>                             
                            <div class="swiper-slide text-center" style="width: 292.5px; margin-right: 30px;" role="group" aria-label="3 / 4">
                                <figure class="object-cover">
                                    <img alt="" src="https://nl.go-sharing.com/app/uploads/2021/01/buiten-servicegebied-01@2x-1.png" class="has-shadow rounder-corners">
                                </figure>
                                <span class="is-bold d-block">Outside the service area</span>
                                You can drive outside the service area, but you can’t end the rental here. Temporary parking is possible, this costs from €0.15 per minute.
                            </div>                                    
                            <div class="swiper-slide text-center" style="width: 292.5px; margin-right: 30px;" role="group" aria-label="4 / 4">
                                <figure class="object-cover">
                                    <img alt="" src="https://nl.go-sharing.com/app/uploads/2021/01/kortingsgebied-01@2x-1.png" class="has-shadow rounder-corners">
                                </figure>
                                <span class="is-bold d-block">Discount area</span>
                                Do you see a purple area? Then you are lucky! If you start or end the rental here, you will receive a discount on your ride.
                            </div>
                        </div>
                        <div class="swiper-bottom-row">
                            <div class="t-and-c-pagination-0 swiper-pagination swiper-pagination-fraction swiper-pagination-lock"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">1</span></div>
                            <div class="t-and-c-i-prev-0 swiper-i-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-f58825396464f727" aria-disabled="true">
                                <i class="i-chevron-left text-secondary"></i>
                            </div>
                            <div class="t-and-c-i-next-0 swiper-i-next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-f58825396464f727" aria-disabled="true">
                                <i class="i-chevron-right text-secondary"></i>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

