<div class="background-image container-fluid section-box">
    <div class="container">
            <div class="">
                <div class="overlay"></div>        
            </div>
            <div class="row ">
                <div class="col-md-5 text-col">
          <h1 class="text-white"> {{'Commcamarche' | translate}} </h1>
          <div class="content font-size-large text-white"> {{'subtitlecomcamarche' | translate}} </div>
          <div class="button-wrapper">
            <div class="hover03">
                <div class="row">
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                    </a>
                    <a href="" class="col-sm-12 col-md-6">
                        <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                    </a>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
</div>
<section class="sectionhowitwork" style="padding-top: 7%;">
    <div class="container-fluid section-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 text-col pr-lg-5">
                    <h2 class="mb-0"></h2><h2 class="mb-0"><span style="font-weight: 700;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Driving with GO Sharing is easy and fun&quot;}" data-sheets-userformat="{&quot;2&quot;:769,&quot;3&quot;:{&quot;1&quot;:0},&quot;11&quot;:4,&quot;12&quot;:0}">{{'drivingwitheloc' | translate}}&nbsp;<span class="text-primary">{{'easy' | translate}}</span></span></h2>
                        <div class="content">{{'describtion' | translate}}</div>
                        <div class="innerblocks-cont ">
                      <div class="innerblock inner-link alignfalse"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 pt-5 pt-lg-0 ">                 
                    <figure class="object-contain position-relative">
                        <img class="has-shadow" alt="" src="../../../assets/elocScooter.webp">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>