<app-navbar></app-navbar>

<header id="" class="header alignfalse is_fullwidth standaard" data-theme="is-white">
    <section class="o-header">
        <div class="container-fluid section-box">
            <div class="container">
                <div class="background-image background-image--full">
                    <img src="../../../assets/helpheader.jpg" alt="" style="object-fit:cover; object-position: 50% 50%">
                    <div class="overlay"></div>    
                </div>
                <div class="row ">
                    <div class="col-md-5 text-col">
                        <h1 class="text-white">{{'centredaide' | translate}}</h1>
                        <div class="content font-size-large text-white" style="text-align: justify;">{{'questionapropodenous' | translate}}</div>
                       <!-- <div class="button-wrapper">          
                            <div class="innerblock inner-link alignfalse">
                                <a href="https://be.go-sharing.com/fr/faq/" target="">
                                <button class="btn btn-secondary">
                                    FAQ
                                </button>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>  
</header>

<!--                               hnaaaaaaaaaaa                              -->


<div id="" class="cards alignfalse is_fullwidth pb-none" style="padding-top: 7%;padding-bottom: 5%; background-color: #edceab;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-regular fa-envelope fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-3">{{'Support' | translate}}</h5>
                        <p class="ourstyletext">{{'suportansewr' | translate}}</p>
                        <a class="dark-link" href="mailto:info@e-loc.ma" target="">
                            <span>{{'envoicouri' | translate}}</span> &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-solid fa-chevron-right" style="color:#C9520A"></i>
                        </a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-solid fa-circle-info fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-3">{{'midia' | translate}}</h5>
                        <p class="ourstyletext">{{'ansewrmidia' | translate}}</p>
                        <a class="dark-link" href="mailto:info@e-loc.ma" target="">
                            <span>{{'envoicouri' | translate}}</span> &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-solid fa-chevron-right" style="color:#C9520A"></i>
                        </a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-regular fa-message fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-3">{{'marketiig' | translate}}</h5>
                        <p class="ourstyletext">{{'ansewrmarketi' | translate}}</p>
                        <a class="dark-link" href="mailto:info@e-loc.ma" target="">
                            <span>{{'envoicouri' | translate}}</span> &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-solid fa-chevron-right" style="color:#C9520A"></i>
                        </a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-solid fa-phone fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-3">{{'contact' | translate}}</h5>
                        <p class="ourstyletext">{{'ansewrcontact' | translate}}</p>
                        <a class="dark-link" href="tel:+212%206%2062%2022%2074%2066" target="">
                            <span>{{'apeelcontact' | translate}}</span> &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-solid fa-chevron-right" style="color:#C9520A"></i>
                        </a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important;  height: 277px;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-solid fa-info fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{'nuisans' | translate}}</h5>
                      <p class="ourstyletext">{{'ansewrnuisans' | translate}}</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto d-block" style="width: 340px; margin-bottom: 8%; border-radius: 10px !important; height: 277px;">
                    <div class="card-header" style="text-align: center;">
                        <figure class="header-icon" style="padding-top: 5%;">
                            <i class="fa-solid fa-location-dot fa-2xl" style="color: #81bb27;"></i>
                        </figure>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{'Address' | translate}}</h5>
                      <p class="ourstyletext">{{'adresansewer' | translate}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
