<div class="container" style="max-width: 1250px;">
   <div class="main-title">{{'parta&elec' | translate}}</div>
   <div class="immg sizeimg">
    <div class="svgupimag"></div>
    <div class="obacityclass">
    <div class="contentapp">
      <p>{{ 'Scootersenlibreservice' | translate}}</p>
      <div class="hover03">
         <a href="">
            <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
         </a>
         <a href="">
            <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
         </a>
      </div>
    </div>
   </div>
   </div>
</div>