.hover03 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sizeimg{
    height: 780px; 
}
@media (max-width: 720px) {
    .imgsize{
        width: 40%;
    }

    .imgsize2{
        width: 40%;    
    }


  }

  @media (max-width: 767px) {
    .hover03{
        margin-top: 5% !important;
    }
  }

.titrefooter{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.soutitrefooter{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}