<app-navbar></app-navbar>

<header id="" class="header-location alignfalse is_fullwidth standaard" data-theme="is-white">
    <section class="o-header-location">
        <div class="container has-absolute-col has-absolute-col__58-42">
            <div class="absolute-col d-none d-lg-block absolute-col--right" style="background-image: url('https://be.go-sharing.com/app/themes/sage/resources/assets/images/map-bg.png');"></div>
            <div class="absolute-col d-none d-lg-block absolute-col--left">
                <div class="background-image background-image--full">
                    <img src="../../../assets/keech.jpeg" alt="" style="object-fit:cover;" >     
                </div>
            </div>
            <div class="d-block d-lg-none mobile-map">
                <img src="../../../assets/keech2.jpeg" alt="" style="object-fit:cover;">
            </div>
            <div class="row position-relative">
                <div class="d-block d-lg-none">
                    <div class="background-image">
                        <img src="https://be.go-sharing.com/app/themes/sage/resources/assets/images/map-bg.png" alt=""> 
                    </div>
                </div>
                <div class="text-col col-12 col-lg-5 offset-lg-7">
                    <h2><span ><span class="text-primary heaaad">Find a E-LOC</span> <span class="heaaad"> for your journey</span></span>&nbsp;&nbsp;</h2>
                    <div class="content font-size-large">Explore all the locations where GO Sharing is located and use our shared vehicles.</div>
                    <div class="button-wrapper">
                        <div class="hover03">
                            <div class="row">
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize" src="../../../assets/btngoogleplay.svg" alt="" srcset=""></figure>
                                </a>
                                <a href="" class="col-sm-12 col-md-6">
                                    <figure><img  class="imgsize2" src="../../../assets/btnappstore.svg" alt="" srcset=""></figure>
                                </a>
                            </div>
                         </div>
                      </div>
                </div>
            </div>
        </div>
    </section>   
</header>
