@media (min-width: 992px) {
    .o-header-location {
        height: 725px;
    }
}

.has-absolute-col{
    position: relative;
    height: 100%;
}

.absolute-col--right{
    left: 59%;
    width: calc(-9% + 50vw);
}

.absolute-col--left{
    right: 41%;
    width: calc(9% + 50vw);
}


.has-absolute-col {
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}