@media (min-width: 992px) {
    .o-header-location {
        height: 725px;
    }
}

.has-absolute-col{
    position: relative;
    height: 100%;
}

.container-fluid.has-absolute-col__58-42 .absolute-col--right, .container.has-absolute-col__58-42 .absolute-col--right, .has-absolute-col__58-42.container-lg .absolute-col--right, .has-absolute-col__58-42.container-md .absolute-col--right, .has-absolute-col__58-42.container-sm .absolute-col--right, .has-absolute-col__58-42.container-xl .absolute-col--right{
    left: 59%;
    width: calc(-9% + 50vw);
}

 .absolute-col--left, .container.has-absolute-col__58-42 .absolute-col--left, .has-absolute-col__58-42.container-lg .absolute-col--left, .has-absolute-col__58-42.container-md .absolute-col--left, .has-absolute-col__58-42.container-sm .absolute-col--left, .has-absolute-col__58-42.container-xl .absolute-col--left{
    right: 41%;
    width: calc(9% + 50vw);
}


.container-fluid.has-absolute-col .absolute-col, .container.has-absolute-col .absolute-col, .has-absolute-col.container-lg .absolute-col, .has-absolute-col.container-md .absolute-col, .has-absolute-col.container-sm .absolute-col, .has-absolute-col.container-xl .absolute-col{
    position: absolute;
    top: 0;
    pointer-events: none;
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

.o-header-location .absolute-col--left {
    background-color: #b2b7aa;
}

.background-image--full {
    left: 0;
    width: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    height: 100%;
}

.o-header-location .mobile-map {
    height: 260px;
    margin: 0 -15px;
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}

.o-header-location .mobile-map img {
    width: 100%;
    height: 100%;
}

.o-header-location .row {
    height: 100%;
}

.position-relative {
    position: relative !important;
}

.o-header-location .row .text-col {
    padding: 0 0rem 6rem 9rem;
}

.row .text-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .offset-lg-7 {
        margin-left: 58.33333%;
    }
}

@media (min-width: 992px) {
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}

.row .text-col .content {
    margin: 1rem 0 0;
}
.font-size-large {
    font-size: 1.125rem !important;
    line-height: 1.75rem;
}

.hover03 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

.imgsize , .imgsize2{
    margin-top: 6%;
    width: 80%;
  }

  .text-primary {
    color: #81bb27 !important;
}

.heaaad{
    font-size: 2.4rem !important;
    font-weight: 700;
    line-height: 1.25;
}

.font-size-large {
    font-size: 1.125rem !important;
    line-height: 1.75rem;
}

.position-relative {
    position: relative !important;
}

.imgsize , .imgsize2{
    margin-top: 6%;
    width: 80%;
  }

  @media (max-width: 986px) {
    .o-header-location .row .text-col {
        padding: 0 3rem 0rem 3rem;
        margin-bottom: 20px;
    }
    .imgsize , .imgsize2{
        margin-top: 0% !important;
        width: 50% !important;
      }
}

@media (max-width: 767px) {
    .imgsize , .imgsize2{
        margin-top: 0% !important;
        width: 50% !important;
      }

      .row .text-col .content {
        margin: 0rem 0 0;
    }
}

.section-boxloc {
    background-color: #fcf6ea;
}

.is_fullwidth, .section-boxloc {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.o-locations-archive .expand-trigger {
    cursor: pointer;
}

.subtitle {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8rem !important;
    font-weight: 700;
}

.text-primary {
    color: #81bb27 !important;
}

.heading-2 {
    font-size: 2.4rem !important;
    font-weight: 700;
    line-height: 1.25;
}

.title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title-wrapper figure {
    width: 2rem;
}

.title-wrapper figure img {
    width: 1.9rem;
}

.h3duali {font-size: 1.75rem !important;
    font-weight: 700;
    line-height: 1.2;
}

figure {
    margin: 6px 15px 0px 0px !important;
}