<app-navbar></app-navbar>





<header id="" class="header-location alignfalse is_fullwidth standaard" data-theme="is-white">
    <section class="o-header-location">
        <div class="container has-absolute-col has-absolute-col__58-42">
            <div class="absolute-col d-none d-lg-block absolute-col--right" style="background-image: url('https://be.go-sharing.com/app/themes/sage/resources/assets/images/map-bg.png');"></div>
            <div class="absolute-col d-none d-lg-block absolute-col--left">
                <div class="background-image background-image--full">
                    <img src="https://be.go-sharing.com/app/uploads/2021/03/Map-locations-cropped-1.png" alt="" style="object-fit:cover;" >     
                </div>
            </div>
            <div class="d-block d-lg-none mobile-map">
                <img src="https://be.go-sharing.com/app/uploads/2021/03/Map-locations-cropped-1.png" alt="" style="object-fit:cover;">
            </div>
            <div class="row position-relative">
                <div class="d-block d-lg-none">
                    <div class="background-image">
                        <img src="https://be.go-sharing.com/app/themes/sage/resources/assets/images/map-bg.png" alt=""> 
                    </div>
                </div>
                <div class="text-col col-12 col-lg-5 offset-lg-7">
                    <h2><span ><span class="text-primary">Find a E-LOC</span> for your journey</span>&nbsp;&nbsp;</h2>
                    <div class="content font-size-large">Explore all the locations where GO Sharing is located and use our shared vehicles.</div>
                    <div class="button-wrapper">   
                        <div class="innerblock inner-dynamic-link-to-app-store alignfalse">
                            <a href="/appstoreorplaystore/" target="_blank" class="has-mobile-switch-show dynamic-button show-mobile">
                                <button type="button" class="btn btn-secondary"><i class="i-apple d-none visible-desktop ios-show"></i> <i class="i-android d-none visible-desktop android-show"></i>  <span>Download the app</span></button>
                            </a>
                            <span class="dynamic-button show-desktop visible-desktop">
                                <button type="button" data-toggle="modal" data-target="#dynamicAppModal" class="btn btn-secondary download-app-button-trigger"><i class="i-apple d-none visible-desktop ios-show"></i> <i class="i-android d-none visible-desktop android-show"></i>  <span>Download the app</span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
</header>
